#menu {
    background-color: #1B2E4F;
    padding: 10px;
    color: white;
    text-align: center;
}

#card-title {
    background-color: #1B2E4F;
    color: white;
    text-align: center;
}

#menu a {
    color: white;
}

#menu-right, #menu-left, #card-title-right, #card-title-left {
    width: 50%;
    display: inline;
}

#menu-right, #card-title-right {
    margin-left: 20%;
}

#menu-left, #card-title-left  {
    margin-right: 20%;
}

#footer {
    background-color: #1B2E4F;
}

.card-header {
    background-color: #1B2E4F;
    color: white;
}

.navigation {
    text-align: center;
}

@media (max-width: 1000px) {
    #barra-logos{display: none;}
    .btn-toggle{display: block;}
}