#menu {
    background-color: #1B2E4F;
    padding: 10px;
    color: white;
    text-align: center;
}

#card-title {
    background-color: #1B2E4F;
    color: white;
    text-align: center;
}

#menu a {
    color: white;
}

#menu-right, #menu-left, #card-title-right, #card-title-left {
    width: 50%;
    display: inline;
}

#menu-right, #card-title-right {
    margin-left: 20%;
}

#menu-left, #card-title-left  {
    margin-right: 20%;
}

#footer {
    background-color: #1B2E4F;
}

#footer-brasil {
   background: none repeat scroll 0% 0% #1B2E4F;
   min-width: 100%;
   position: absolute;
   bottom: 0;
   width: 100%;
}

#page-container {
  position: relative;
  min-height: 70vh;
}

#content-wrap {
  padding-bottom: 2.3rem;    /* Footer height */
}

.card-header {
    background-color: #1B2E4F;
    color: white;
}

.navigation {
    text-align: center;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  margin:auto;
  width: 100%; // Add this
}

.carousel-inner>.item active>img, .carousel-inner>.item active>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  margin:auto;
  width: 100%; // Add this
}

@media (max-width: 1000px) {
    #barra-logos{display: none;}
    .btn-toggle{display: block;}
}
