/* ..................................................................................................... */
/* ALTO CONTRASTE */
.contrast,
.contrast nav,
.contrast div,
.contrast tr,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: #373f3c !important;
    color: white !important;
}

.contrast #barra-logos {
    background: #404845 !important;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.contrast #login-card {
    background: #464848 !important; 
}

.contrast #barra-menu {
    background: #404845 !important;
    margin-right: 20px;
    margin-left: 20px;
}
.contrast #login-card-container {
    background: #464848 !important; 
    box-shadow: 4px 4px 4px #373f3c !important;
}

.contrast button {
    box-shadow: 4px 4px 4px #373f3c !important;
}

.contrast #signup {
    box-shadow: 4px 4px 4px #373f3c !important;
}

.contrast #login-bottom {
    background: #2d2d2d !important;
}

.contrast .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #000;
  background-color: #aaa;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast a,
.contrast span {
    color: white !important;
}

.contrast #menu-a {
    color: black !important;
}

.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: #2d2d2d !important;
    color: yellow !important;
    border: none !important;
}

.contrast .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}
