/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #12583c;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  right: 28px;
  width: 300px;
  z-index: 9;
}


/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Set a style for the submit/send button */
.chat-popup .panel .btn {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
