#divBusca {
  border: none;
}

#myInput {
  /* background-image: url('/css/searchicon.png'); Add a search icon to input */
  /* background-position: 10px 12px; /* Position the search icon */
  /* background-repeat: no-repeat; Do not repeat the icon image */ 
  width: 100%; /* Full-width */
  font-size: 12px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
}

#listaUsuarios {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#listaUsuarios li {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 6px 12px 6px 12px;
  text-decoration: none; 
  font-size: 16px; 
  color: black; 
  display: block; 
}

#listaUsuarios li:hover:not(.header) {
  background-color: #eee; 
}